header {
  padding:20px;
  background-color: red;
}

.header-content {
  justify-content: space-between;
  align-items: center;
  max-width: 65em;
  margin: 0 auto;
}

.header-content > * { flex: 3 }

nav {
  min-width: 13em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.spaced-rep-link {
color:white;
text-decoration:none;
}

.text-link {
  color: white;
  text-decoration:none;
  padding: 0 .5em;
}
