.word-list {
  color:white;
}


.dash-language-header {
  color:white;
}

.total-correct {
  color:pink;
}

.dash-list-title {
  color:yellow;
}

.start-button {
  border:none;
  border-radius: .3em;
  background-color: red;
  color:white;
  padding: .3em .6em;
  margin: .3em;
  font-size: 1.5em;
}

.correct-count {
  color: lightgreen;
}

.incorrect-count {
  color:yellow;
}